<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title MilleniaCapital

	link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,800', rel='stylesheet', type='text/css')

	link(href='https://fonts.googleapis.com/css?family=Cinzel:400,700,900', rel='stylesheet', type='text/css')

	link(rel="stylesheet", href="stylesheets/normalize.css")
	link(rel="stylesheet", href="stylesheets/app.css")
body.bgPrincipal
	form.formularioAccess(action="/login", method="POST")
		header.formularioAccess--Header
			h2.title
				|Ingresar a su cuenta
		fieldset.formularioAccess--Fieldset
			input(type="text", name="username", placeholder="Nombre de usuario", required)
		fieldset.formularioAccess--Fieldset
			input(type="password", name="password", placeholder="Password", required)
		fieldset.formularioAccess--Fieldset
			input(type="submit", value="Ingresar")
