<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title #{title}
	link(rel="stylesheet", href="stylesheets/icons.css")
	link(rel="stylesheet", href="stylesheets/normalize.css")
	link(rel="stylesheet", href="stylesheets/app.css")
body.bgPanel
	if name == "milleniacapital"
			header.headerPanel--ML
				
				figure.headerPanel--ML--Figure
					a(href="http://milleniatest.xyz/")
						img(src="images/logo.png", alt="")
						span.title
							| Sistema MilleniaCapital
				.De--ML
					span.titleUser
						i(class="fa fa-user", aria-hidden="true")
						| #{name} 

			form.formluarioSend--ML(action="/fileupload", method="POST", enctype="multipart/form-data")
				header.formularioSend--ML--Header
					h2.title
						| Formulario Upload
				fieldset
					input(type="file", style="display:none;", name="archivo", id="subir")
				label.formularioSend--ML--Icon(for="subir")
					i(class="fa fa-file-pdf-o" aria-hidden="true" )
				fieldset.fieldset
					input(type="submit" value="Subir Archivo")
				
			.sectionVerListado
				a.linkVer(href="listado")
					| Ver Formularios

	else

			script(src='/javascripts/app.js')