<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title #{title}
	link(rel="stylesheet", href="stylesheets/icons.css")
	link(rel="stylesheet", href="stylesheets/normalize.css")
	link(rel="stylesheet", href="stylesheets/app.css")

	script(src="https://code.jquery.com/jquery-2.2.3.min.js")

body.bgPanel
	if name == "milleniacapital"
			header.headerPanel--ML
				
				figure.headerPanel--ML--Figure
					a(href="http://milleniacapital.com.py/")
						img(src="images/logo.png", alt="")
					span.title
						| Sistema MilleniaCapital
				.De--ML
					span.titleUser
						i(class="fa fa-user", aria-hidden="true")
						strong.downUser	
						| #{name}  
					ul.ul.jsMenuUser
						li.list
							a.link(href="administracion")
								| Administracion
						li.list
							a.link(href="listado")
								| Ver Formularios
						li.list
							a.link(href="panel")
								| Subir Archivos

			form.formluarioSend--ML(action="/fileupload", method="POST", enctype="multipart/form-data")
				header.formularioSend--ML--Header
					h2.title
						| Formulario Upload
				fieldset
					input(type="file", style="display:none;", name="archivo", id="subir")
				label.formularioSend--ML--Icon(for="subir")
					i(class="fa fa-file-pdf-o" aria-hidden="true" )
				fieldset.fieldset
					input(type="submit" value="Subir Archivo")
				
			//.sectionVerListado
				a.linkVer(href="listado")
					| Ver Formularios
		
		script(src='/javascripts/web.js')
	else

			script(src='/javascripts/app.js')