<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title #{title}
	link(rel="stylesheet", href="../../stylesheets/icons.css")
	link(rel="stylesheet", href="../../stylesheets/normalize.css")
	link(rel="stylesheet", href="../../stylesheets/app.css")

	script(src="https://code.jquery.com/jquery-2.2.3.min.js")
	script(src='../../javascripts/web.js')	
body.bgPanel
	header.headerPanel--ML
		
		figure.headerPanel--ML--Figure
			a(href="http://milleniatest.xyz/")
				img(src="../../images/logo.png", alt="")
			span.title
				| Sistema MilleniaCapital
		.De--ML
			span.titleUser.downUser
				i(class="fa fa-user", aria-hidden="true")
				| #{name}  
			ul.ul.jsMenuUser
				li.list
					a.link(href="../../administracion")
						| Administracion
				li.list
					a.link(href="../../listado")
						| Ver Formularios
				li.list
					a.link(href="../../panel")
						| Subir Archivos

	main
			
			section.listadoFiles
				h2 El item se borro correctamente