<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title #{title}
	link(rel="stylesheet", href="../../stylesheets/icons.css")
	link(rel="stylesheet", href="../../stylesheets/normalize.css")
	link(rel="stylesheet", href="../../stylesheets/app.css")
body.bgPanel
	header.headerPanel--ML
		
		figure.headerPanel--ML--Figure
			a(href="http://milleniatest.xyz/")
				img(src="../../images/logo.png", alt="")
			span.title
				| Sistema MilleniaCapital
		.De--ML
			span.titleUser
				i(class="fa fa-user", aria-hidden="true")
				| #{name}

	main
			
			section.listadoFiles
				h2 El item se borro correctamente