* 
	box-sizing border-box
.bgPrincipal 
	background #ECECEC
.bgPanel 
	background #dedede
.headerPanel--ML
	background #64ACC6
	line-height 70px
	padding 0 5em
	display flex
	justify-content space-between
	align-items center
	box-shadow 0 0 1px #6DD8FF
	.headerPanel--ML--Figure
		display flex
		align-items center
		.title
			margin 0 0 0 0.5em
	.title
		padding 0
		margin 0
		color white
		font-weight 400
		font-size 1.5em
		font-family 'Cinzel', serif
	.De--ML
		position relative
		.ul
			position absolute
			background white
			width 224px
			height auto
			padding 0.5em 1em
			.list
				list-style-type none
			.list .link 
				color black
				text-decoration none
	.De--ML .titleUser
		color white
		font-size 1.2em
		cursor pointer
		
	.De--ML .titleUser i 
		margin 0 0.5em 0 0
	
.formularioAccess
	position absolute
	width 450px
	height auto
	background #fff
	left 50%
	top 50%
	margin-left -16em
	margin-top -10em	
	.formularioAccess--Header
		text-align center
		.title
			color #274E93
			font-weight 700
			font-family 'Cinzel', serif;
			text-transform uppercase
			
	.formularioAccess--Fieldset
		border none
		input 
			width 100%
			padding 0.8em 1em
			background #cacaca
			border none
			border-radius 4px
			outline medium none
			transition all 0.5s linear
			&:active, &:hover
				background white
				outline medium none
				border 1px solid #65ADC6
				box-shadow 0 0 0 2px #65ADC6
				border-radius 4px
		input[type="submit"]
			background #002e5b
			border none
			color white
			padding 0.8em 1em

.formluarioSend--ML
	background white
	height 450px
	width 500px
	margin 1em auto
	text-align center
	fieldset
		margin 0
		padding 0
		border none
		input[type='submit']
			background none
			padding 1em 1.5em
			border none
			background #002e5b
			color white
			outline medium none
	
	.formularioSend--ML--Header 
		padding 1em 0
	.formularioSend--ML--Header .title
		font-weight 400
		color #757575
		margin 0
		padding 0
		
	.formularioSend--ML--Icon
		margin 5em 0
		display block
		i 
			font-size 10em
			color #dedede

.sectionVerListado
		text-align center
		margin 2em 0
		.linkVer
			text-decoration none
			color white
			padding 0.8em 1.5em
			background #64ACC6			

main 
	.listadoUserUpload
		padding 0 5em
		margin 2em 0
		.link
			color white
			background #002e5b
			text-decoration none
			padding 0.8em 1.5em
			border-radius 4px
	.listadoFiles
		padding 0 5em
		margin 1em 0
		.listadoFiles--Container
			background white
			width 50%
			display flex
			padding 0.8em 1em
			justify-content space-between
			border-bottom 1px solid #dedede
			.container--Iz i 
				color #868686
			.container--De
				.nameFile
					color #002E5B
					font-weight 700
					margin 0 0.5em 0 0
				.fechaFile
					background transparent
					color #868686
					padding 0.5em

.formNot
	width: 500px
	margin 5em auto
	text-align center
	.userNot
		background #002e5b
		border none
		padding 0.8em 1em
		.linkVer
			color white
			text-decoration none
			

.jsMenuUser
	display none